// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#bear {
  width: 32px;
  height: 32px;
  background: url(chara1.png) -32px 0px no-repeat;
}

#polar {
  width: 32px;
  height: 32px;
  background: url(chara1.png) -32px -32px no-repeat;
}

#space {
  width: 32px;
  height: 32px;
  background: url(space3.png) -32px -96px no-repeat;
}

#board {
  width: 32px;
  height: 32px;
  background: url(space3.png) -128px 0px no-repeat;
}
